/*==============================        Global        ==============================*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");



.btn-2 {
	background-color: #cd7fa7;
	color: aliceblue;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}

.headersmart {
	width: 100%;
	height: 6em;
	background-color: #6C5C94;
	display: flex;
	justify-content: space-between;
}

.imglogo {
	width: 30%;
	height: 100%
}

.imglogopng {
	width: 100%;
	height: 100%;
}

.login {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	gap: 1em;
	padding: 2em;
	justify-content: end;

}


.container-main {
	width: 90%;
	margin-top: 2em;

}

.datos-principales {
	display: flex;
	width: 100%;
	align-items: stretch;
	/* heredados*/
	background-color: #bab7b725;
	box-shadow: 3px 3px 6px 4px #d3d3d3d1;
	border-radius: 20px;

}

.imagenen-mascota {
	width: 50% !important;
	height: 12em !important;

	display: flex;
	justify-content: flex-start;
	height: auto;
	margin: .4em;
}

.imagenen-mascota img {
	object-fit: cover;
	min-width: 100%;
	border-radius: 1em;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	-ms-border-radius: 1em;
	-o-border-radius: 1em;
}

.datos-mascota {
	display: flex;
	flex-flow: column wrap;
	gap: .5em;
	font-family: "Blinker", sans-serif;
	color: #696868;
	justify-content: space-evenly;
	align-content: center;
	margin-left: .5em;
	align-items: baseline;
}

.datos-mascota p {
	font-size: 14px;
}

.nombre-mascota {
	font-size: 1.6em;
	text-align: center;
	font-weight: 600;
	color: black;
	margin-top: .3em;
	margin-bottom: 0;
}

.iconos-datos-mascota {
	width: 1.5em;
	height: 1.5em;
	margin-right: .3em;
}

.contenedor-datos-mascota {
	display: flex;
	flex-flow: row nowrap;
}


.sexo-mascota {
	margin-bottom: 0;
	/* Estilos para el sexo de la mascota */
}

.edad-mascota {
	margin-bottom: 0;

}

.ubicacion-masctoa {
	margin-bottom: 0;

}

.bi-geo-alt-fill {
	margin-right: 3px;
}

.descripcion {
	background-color: #bab7b725;
	box-shadow: 3px 3px 6px 4px #d3d3d3d1;
	margin: 16px auto;
	padding: 1em 6px;
	border-radius: 10px;
}

.descripcion-mascota {
	font-family: "Blinker", sans-serif;
	color: #696868;
	font-size: 14px;
}

.contactos-masctoa {
	width: 100%;

}

.contacto {
	color: black;
	font-weight: 600;
	margin-top: 1.2em;
}

.contenenedor-contacto {
	background-color: #bab7b725;
	box-shadow: 3px 3px 15px 8px #d3d3d3d1;
	border-radius: 10px;
	width: 100%;
	margin-top: 1em;
	margin-bottom: 2em;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
}

.contenedor-contacto {
	background-color: #bab7b725;
	box-shadow: 3px 3px 15px 8px #d3d3d3d1;
	border-radius: 10px;
	height: 5em;
	margin-bottom: 1.6em;
	display: flex;
	flex-flow: column;
	align-content: space-around;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: stretch;

}

.nombre-contacto {
	font-weight: 600;
	font-size: 1.4em;
	color: black;
	margin-left: 1em;
	margin-top: 0.38em;
	margin-bottom: 0;
}

.redes-sociales {
	display: flex;
	flex-flow: row nowrap;
	gap: 3px;
	margin-bottom: .5em;
	height: auto;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: space-between;
	align-items: stretch;
	justify-content: space-evenly;

}

.redes-sociales .btn {
	font-size: 12px;
	display: flex;
	flex-flow: row nowrap;
	background-color: #cd7fa7;
	border-radius: 12px;
	border: 1px solid #000000;
	width: 32%;
	height: 2.6em;
	justify-content: center;
	align-content: flex-start;
	flex-wrap: nowrap;
	flex-direction: row;
	align-items: center;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	-ms-border-radius: 12px;
	-o-border-radius: 12px;
}


.iconos-redes {
	margin-right: 5px;
	display: flex;
	align-content: center;
	align-items: center;
	width: 14px;

}


.redes-sociales button:active {
	background-color: #db96ba !important;
	/* Color de fondo cuando se presiona */
}


/* Estilos para pantallas pequeñas */
@media (min-width: 434px) and (max-width: 767.98px) {
	.container-main {
		width: 85%;
	}

	.imagenen-mascota {
		height: 12em !important;
		width: 50%;
		display: flex;
		justify-content: flex-start;
		height: auto;
		margin: .4em;
	}

	.imagenen-mascota img {
		object-fit: cover;
		width: 100%;
		border-radius: 1em;
		-webkit-border-radius: 1em;
		-moz-border-radius: 1em;
		-ms-border-radius: 1em;
		-o-border-radius: 1em;
	}

	.datos-mascota {
		display: flex;
		flex-flow: column wrap;
		gap: .5em;
		font-family: "Blinker", sans-serif;
		color: #696868;
		justify-content: space-evenly;
		align-content: center;
		margin-left: .5em;
		align-items: baseline;
	}

	.datos-mascota p {
		font-size: 14px;
	}

	.nombre-mascota {
		font-size: 1.6em;
		text-align: center;
		font-weight: 600;
		color: black;
		margin-top: .3em;
		margin-bottom: 0;
	}

	.sexo-mascota {
		margin-bottom: 0;
		/* Estilos para el sexo de la mascota */
	}

	.edad-mascota {
		margin-bottom: 0;

	}

	.ubicacion-masctoa {
		margin-bottom: 0;
		/* Estilos para la ubicación de la mascota */
	}



	.redes-sociales {
		display: flex;
		flex-flow: row nowrap;
		gap: 3px;
		margin-bottom: .5em;
		justify-content: space-evenly;
		height: auto;
		flex-direction: row;
		flex-wrap: wrap;
		align-content: space-around;
		align-items: baseline;
		margin-bottom: .8em;

	}

	.redes-sociales .btn {
		font-size: .7em;
		width: 30%;
	}


	.iconos-redes {
		margin-right: .4em;


	}

}

/* Estilos para pantallas medianas */
@media (min-width: 768px) and (max-width: 991.98px) {

	.container-main {
		width: 70%;
	}

	.imagenen-mascota {
		width: 50%;
		height: 12em !important;
		display: flex;
		justify-content: flex-start;
		height: auto;
		margin: .4em;
	}

	.imagenen-mascota img {
		object-fit: cover;
		width: 100%;
		border-radius: 1em;
		-webkit-border-radius: 1em;
		-moz-border-radius: 1em;
		-ms-border-radius: 1em;
		-o-border-radius: 1em;
	}

	.datos-mascota {
		display: flex;
		flex-flow: column wrap;
		gap: .5em;
		font-family: "Blinker", sans-serif;
		color: #696868;
		justify-content: space-evenly;
		align-content: center;
		margin-left: .5em;
		align-items: baseline;
	}

	.datos-mascota p {
		font-size: 14px;
	}

	.nombre-mascota {
		font-size: 1.6em;
		text-align: center;
		font-weight: 600;
		color: black;
		margin-top: .3em;
		margin-bottom: 0;
	}

	.sexo-mascota {
		margin-bottom: 0;
		/* Estilos para el sexo de la mascota */
	}

	.edad-mascota {
		margin-bottom: 0;

	}

	.ubicacion-masctoa {
		margin-bottom: 0;
		/* Estilos para la ubicación de la mascota */
	}



	.redes-sociales {
		display: flex;
		flex-flow: row nowrap;
		gap: 3px;
		margin-bottom: .5em;
		justify-content: space-evenly;
		height: auto;
		flex-direction: row;
		flex-wrap: wrap;
		align-content: space-around;
		align-items: baseline;
		margin-bottom: .8em;

	}

	.redes-sociales .btn {
		font-size: .8em;
		width: 30%;
	}



}

/* Estilos para pantallas grandes */
@media (min-width: 992px) and (max-width: 1199.98px) {

	.container-main {
		width: 50%;
	}


	.redes-sociales {
		display: flex;
		flex-flow: row nowrap;
		gap: 3px;
		margin-bottom: .5em;
		justify-content: space-evenly;
		height: auto;
		flex-direction: row;
		flex-wrap: wrap;
		align-content: space-around;
		align-items: baseline;
		margin-bottom: .8em;

	}

	.redes-sociales .btn {
		font-size: .8em;
		width: 30%;
	}
}

/* Estilos para pantallas extra grandes */
@media (min-width: 1200px) {
	.container-main {
		width: 50%;
	}


	.redes-sociales {
		display: flex;
		flex-flow: row nowrap;
		gap: 3px;
		margin-bottom: .5em;
		justify-content: space-evenly;
		height: auto;
		flex-direction: row;
		flex-wrap: wrap;
		align-content: space-around;
		align-items: baseline;
		margin-bottom: .8em;

	}

	.redes-sociales .btn {
		font-size: .8em;
		width: 30%;
	}
}


/*========================   Footer   ===========================*/
footer {
	background-color: #6c5c94;
	align-content: center;
	padding: 0;
	margin-bottom: 0;
}



.redes-creador {
	margin: 10px;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	flex-wrap: wrap;
}

.redes-nombres {
	padding-left: 2px;
	margin: 0%;
}

.texto-copy {
	color: #fff;
	margin: 1px;
	font-size: large;
}


.contenedor-img-login {
	width: 40%;
	margin: auto;
}

.perritoquenove {
	margin-bottom: -2em;
	width: 100%;
	display: flex;
	justify-content: center;
}

.footer-iconos {
	width: 26px;
	height: 26px;
	color: #fff;

}



/* Estilos para pantallas grandes */
@media (min-width: 992px) and (max-width: 1199.98px) {
	.redes-creador {
		margin: 10px;
		display: flex;
		justify-content: center;
		gap: 12em;
		flex-direction: row;
		flex-wrap: wrap;
	}
}

/* Estilos para pantallas extra grandes */
@media (min-width: 1200px) {
	.redes-creador {
		margin: 10px;
		display: flex;
		justify-content: center;
		gap: 12em;
		flex-direction: row;
		flex-wrap: wrap;
	}
}